@model Imobiliaria.Models.Solicitacao.SolicitacaoIndexVM
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<form method="post">
    <a asp-area="" asp-controller="Solicitacao" asp-action="Criar">Criar</a>
    <br> <br>
    <p>#Registros encontrados: @Model.LstViewSolicitacaoVM.Count()</p>
    <br>
    @foreach (var solicitacao in Model.LstViewSolicitacaoVM)
    {
        <p>Id: @solicitacao.Id</p>
    }
</form>
