@model Imobiliaria.Models.Solicitacao.SolicitacaoVM
@using Imobiliaria.Resources;
@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <title>SolicitacaoPDF</title>
</head>
<body>
    <header>
        <h1 style="text-align: center; "><img src=”C:\Users\lcsdg\Source\Repos\MayaraFreitas\Imobiliaria\Imobiliaria\wwwroot\images\logoTeste.jpg” alt=”Texto” />         Laudo de vistoria</h1>
        <p style="font-weight: bold;">Vitoria do imóvel sito à:</p>
        <hr />
        <p style="font-weight: bold;">O qual foi alocado ao Sr.[a]:</p>
        <hr />
        <p style="font-weight: bold;">
            O presente "auto de vistoria" foi executado pelos abaixo assinados e passa a ser parte integrante do contrato
            de locação, para todos os fins e efeitos de direito.
        </p>
    </header>
    <p style="font-weight: bold; color:crimson">Estado do imóvel:</p>
    <p style="font-weight: bold; color:crimson">Idade aproximada do imóvel:</p>
    <p style="font-weight: bold; color:crimson">Possui energia eletrica:</p>
    <p style="font-weight: bold; color:crimson">Possui água:</p>
    <p style="font-weight: bold; color:crimson">Possui gás:</p>

    <h2>Comodos</h2>

    <table style="width:100%; border: 1px solid black;border-collapse: collapse;">
        <tr>
            <th style="font-weight: bold;">Nome do Comodo</th>
            <th style="font-weight: bold;">Data Inicio</th>
            <th style="font-weight: bold;">Data Termino</th>
            <th style="font-weight: bold;">Cor Teto</th>
            <th style="font-weight: bold;">Cor Parede</th>
            <th style="font-weight: bold;">Observação</th>
        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
        </tr>
    </table>
</body>
</html>