<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/materialize/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>

    <a class="btn-floating btn-large waves-effect waves-light deep-purple accent-4"><i class="material-icons">add</i></a>

    <div class="sidebar" id="sidebar">
        <div class="sidebar-head">
            <spam class="nome-usuario">Rodrigo Almeida</spam>
            <spam class="cargo-usuario">Administrador</spam>
            <spam class="configurar-usuario"><i class="material-icons">settings</i></spam>
        </div>
        <ul>
            <li>
                <div class="sidebar-item selecionado">
                    <a><i class="material-icons">calendar_today</i>@Html.ActionLink("Solicitações", "Index", "Home")</a>
                </div>
            </li>
            <li>
                <div class="sidebar-item">
                    <a><i class="material-icons">done</i>@Html.ActionLink("Vistorias", "About", "home")</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="body-container" id="body-container">
        <div class="navbar-container">
            <div class="esquerdo">
                <a id="sidebar-icone"><i class="material-icons">menu</i></a>
            </div>
            <div class="direito">
                <a><i class="material-icons">notifications</i></a>
            </div>
        </div>
        <div class="">
            @RenderBody()
            <hr />
        </div>
    </div>


    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>
   







